/* CSS Variables - https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */

/* dk = dark, lg = light */
 :root {
    --white: #fff;
    --dk-blue: #0d1238;
    --lg-blue: #272f70;
    --dk-green: #374d12;
    --lg-green: #54761b;
 }
 
body {
    background-color: var(--dk-blue);
    background-image: url(../img/oriental-tiles.png);
    color: var(--white);
}

/*  **** typography **** */
h2 {
    font-family: sans-serif;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
p {
    margin-bottom: 1.5rem;
}


/*  **** section / form **** */
section {
    background-color: rgba(13, 18, 56, 0.7);
    margin-top: 5rem;
    padding: 1rem;
}
fieldset {
    border: none;
    background-color: var(--white);
    color: var(--dk-blue);
    border-radius: 5px;
    padding: 0 0 1rem 0;
}
fieldset > p {
    background-color: var(--lg-green);
    color: var(--white);
    padding: 0.75rem;
    border-radius: 5px 5px 0 0;
    text-align: center;
}
fieldset > div {
    padding: 0 0.75rem;
    margin-bottom: 1.25rem;
}
fieldset label {
    display: block;
}
fieldset input {
    width: 100%;
    padding: 0 0.5rem;
    line-height: 2.5rem;
    border: 1px solid #a2adb7;
    border-radius: 5px;
}
/* attribute selector - GREAT FOR FORMS! */
input[type=radio],
input[type=checkbox] {
    width: unset;
}


@media screen and (min-width:1000px) {
    section {
        display: flex;
    }
    fieldset {
      width: 650px;
    }
}

@media screen and (min-width:1440px) {
     fieldset {
       width: 650px;
     }
}